.divOpc {
    background-color: lightsteelblue;
    color: black;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    border: solid 5px black;
}

    .divOpc:hover {
        background-color: blue;
        color: white;
    }


.divOpcClick {
    background-color: blue;
    color: white;
    border: solid 5px lightgreen;
}


.titlereport {
    text-align: center;
}

#InitialSal, #FinalSal, #dpAVG, #dpMonth, #dpSalary {
    color: black;
    font-weight: bold;
}

#btnGenerate {
}
