@{
    ViewBag.Title = "Home";
}
<div class="container" style="margin-top:5%;">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron" style="border-radius:10px; border:2px solid white;">
                <h1>Registration System</h1>
                <p class="lead">Physical Person's Registration System made in ASP.NET MVC 5 with SQL SERVER 2014.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <img class="img pull-right" src="~/icons/Microsoft-SQL-Server-Database.png" />
            <img class="img pull-right" src="~/icons/mvc_logo.png" />
        </div>
    </div>
</div>





