USE [master]
GO
/****** Object:  Database [dbRegistration]    Script Date: 06/07/2017 20:27:47 ******/
CREATE DATABASE [dbRegistration]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbRegistration', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\dbRegistration.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'dbRegistration_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\dbRegistration_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbRegistration].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbRegistration]
GO
/****** Object:  UserDefinedFunction [dbo].[FC_GET__COUNTPHYSICALPERSON_BYGENRE]    Script Date: 06/07/2017 20:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[FC_GET__COUNTPHYSICALPERSON_BYGENRE] (@GENRE CHAR(1))
	RETURNS INT
AS
BEGIN
	RETURN(SELECT COUNT(*) FROM VW__PHYSICALPERSON WHERE GENRE = @GENRE)
END

GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 06/07/2017 20:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 06/07/2017 20:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 06/07/2017 20:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
	[User_Id] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 06/07/2017 20:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[UserId] [nvarchar](128) NOT NULL,
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 06/07/2017 20:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 06/07/2017 20:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[UserName] [nvarchar](max) NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[Discriminator] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PERSON]    Script Date: 06/07/2017 20:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PERSON](
	[ID] [int] NOT NULL,
	[NAME] [varchar](100) NOT NULL,
	[EMAIL] [varchar](100) NOT NULL,
 CONSTRAINT [PK__PERSON] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UNQ__EMAIL_PERSON] UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHYSICALPERSON]    Script Date: 06/07/2017 20:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHYSICALPERSON](
	[ID] [int] NOT NULL,
	[PERSON_ID] [int] NOT NULL,
	[SALARY] [decimal](12, 2) NOT NULL,
	[DATEBIRTH] [date] NOT NULL,
	[GENRE] [char](1) NOT NULL,
 CONSTRAINT [PK__PHYSICALPERSON] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[VW__PHYSICALPERSON]    Script Date: 06/07/2017 20:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-----------------------------------------------------------------------------------------------------------------
-- 3 - VIEWS ----------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------

CREATE VIEW [dbo].[VW__PHYSICALPERSON] 
AS
	SELECT P.ID, P.NAME, P.EMAIL, PP.SALARY, PP.DATEBIRTH, PP.GENRE FROM PERSON AS P INNER JOIN PHYSICALPERSON AS PP
	ON P.ID = PP.PERSON_ID

GO
/****** Object:  UserDefinedFunction [dbo].[FC_GET__PHYSICALPERSON_BYNAME]    Script Date: 06/07/2017 20:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-----------------------------------------------------------------------------------------------------------------
-- 5 - FUNCTIONS ------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------

CREATE FUNCTION [dbo].[FC_GET__PHYSICALPERSON_BYNAME] (@NAME VARCHAR(100))
	RETURNS TABLE
AS
	RETURN(SELECT * FROM VW__PHYSICALPERSON WHERE NAME LIKE @NAME + '%')

GO
/****** Object:  UserDefinedFunction [dbo].[FC_GET__PHYSICALPERSON_BYID]    Script Date: 06/07/2017 20:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[FC_GET__PHYSICALPERSON_BYID] (@ID INT)
	RETURNS TABLE
AS
	RETURN(SELECT * FROM VW__PHYSICALPERSON WHERE ID = @ID)

GO
/****** Object:  UserDefinedFunction [dbo].[FC_GET__PHYSICALPERSON_BYMONTHDATEBIRTH]    Script Date: 06/07/2017 20:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[FC_GET__PHYSICALPERSON_BYMONTHDATEBIRTH] (@MONTH INT)
	RETURNS TABLE
AS
	RETURN(SELECT * FROM VW__PHYSICALPERSON WHERE DATEPART(MONTH, DATEBIRTH) = @MONTH)

GO
/****** Object:  UserDefinedFunction [dbo].[FC_GET__PHYSICALPERSON_BYSALARYRANGE]    Script Date: 06/07/2017 20:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[FC_GET__PHYSICALPERSON_BYSALARYRANGE] (@SAL1 INT, @SAL2 INT)
	RETURNS TABLE
AS
	RETURN(SELECT * FROM VW__PHYSICALPERSON WHERE SALARY BETWEEN @SAL1 AND @SAL2)

GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_User_Id]    Script Date: 06/07/2017 20:27:47 ******/
CREATE NONCLUSTERED INDEX [IX_User_Id] ON [dbo].[AspNetUserClaims]
(
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 06/07/2017 20:27:47 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RoleId]    Script Date: 06/07/2017 20:27:47 ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 06/07/2017 20:27:47 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_User_Id] FOREIGN KEY([User_Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_User_Id]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[PHYSICALPERSON]  WITH CHECK ADD  CONSTRAINT [FK__PHYSICALPERSON_PERSON] FOREIGN KEY([PERSON_ID])
REFERENCES [dbo].[PERSON] ([ID])
GO
ALTER TABLE [dbo].[PHYSICALPERSON] CHECK CONSTRAINT [FK__PHYSICALPERSON_PERSON]
GO
ALTER TABLE [dbo].[PHYSICALPERSON]  WITH CHECK ADD  CONSTRAINT [CHK__DATEBIRTH_PHYSICALPERSON] CHECK  (([DATEBIRTH]<=dateadd(year,(-18),getdate())))
GO
ALTER TABLE [dbo].[PHYSICALPERSON] CHECK CONSTRAINT [CHK__DATEBIRTH_PHYSICALPERSON]
GO
ALTER TABLE [dbo].[PHYSICALPERSON]  WITH CHECK ADD  CONSTRAINT [CHK__GENRE_PHYSICALPERSON] CHECK  (([GENRE]='M' OR [GENRE]='F'))
GO
ALTER TABLE [dbo].[PHYSICALPERSON] CHECK CONSTRAINT [CHK__GENRE_PHYSICALPERSON]
GO
ALTER TABLE [dbo].[PHYSICALPERSON]  WITH CHECK ADD  CONSTRAINT [CHK__SALARY_PHYSICALPERSON] CHECK  (([SALARY]>=(0)))
GO
ALTER TABLE [dbo].[PHYSICALPERSON] CHECK CONSTRAINT [CHK__SALARY_PHYSICALPERSON]
GO
/****** Object:  StoredProcedure [dbo].[DELETE__PHYSICALPERSON]    Script Date: 06/07/2017 20:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DELETE__PHYSICALPERSON] @ID INT
AS
	BEGIN TRY
		BEGIN TRAN
			EXEC [dbo].[SP_DELETE__PHYSICALPERSON] @ID
			EXEC [dbo].[SP_DELETE__PERSON] @ID
		COMMIT TRAN
	END TRY
	BEGIN CATCH
		SELECT @@TRANCOUNT
	END CATCH

GO
/****** Object:  StoredProcedure [dbo].[EDIT__PHYSICALPERSON]    Script Date: 06/07/2017 20:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[EDIT__PHYSICALPERSON] @ID INT, @NAME VARCHAR(100), @EMAIL VARCHAR(100), @SALARY DECIMAL(12,2), @DATEBIRTH DATE, @GENRE CHAR(1)
AS
	BEGIN TRY
		BEGIN TRAN
			EXEC SP_EDIT__PERSON @ID, @NAME, @EMAIL
			EXEC SP_EDIT__PHYSICALPERSON @ID, @SALARY, @DATEBIRTH, @GENRE
		COMMIT TRAN
	END TRY
	BEGIN CATCH
		SELECT @@TRANCOUNT
	END CATCH

GO
/****** Object:  StoredProcedure [dbo].[INSERT__PHYSICALPERSON]    Script Date: 06/07/2017 20:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

------------

CREATE PROCEDURE [dbo].[INSERT__PHYSICALPERSON] @NAME VARCHAR(100), @EMAIL VARCHAR(100), @SALARY DECIMAL(12,2), @DATEBIRTH DATE, @GENRE CHAR(1)
AS
	BEGIN TRY
		BEGIN TRAN
			DECLARE @ID_INSERT INT
			SELECT @ID_INSERT = ISNULL(MAX(ID)+1, 1) FROM PERSON
			EXEC SP_INSERT__PERSON @ID_INSERT, @NAME, @EMAIL
			EXEC SP_INSERT__PHYSICALPERSON @ID_INSERT, @SALARY, @DATEBIRTH, @GENRE
		COMMIT TRAN
	END TRY
	BEGIN CATCH
		SELECT @@TRANCOUNT
	END CATCH

GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE__PERSON]    Script Date: 06/07/2017 20:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_DELETE__PERSON] (@ID INT)
AS
	DELETE FROM PERSON WHERE ID = @ID;

GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE__PHYSICALPERSON]    Script Date: 06/07/2017 20:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_DELETE__PHYSICALPERSON] (@ID INT)
AS
	DELETE FROM PHYSICALPERSON WHERE ID = @ID;

GO
/****** Object:  StoredProcedure [dbo].[SP_EDIT__PERSON]    Script Date: 06/07/2017 20:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_EDIT__PERSON] (@ID INT, @NAME VARCHAR(100), @EMAIL VARCHAR(100))
AS
	UPDATE PERSON SET NAME = @NAME, EMAIL = @EMAIL WHERE ID = @ID;

GO
/****** Object:  StoredProcedure [dbo].[SP_EDIT__PHYSICALPERSON]    Script Date: 06/07/2017 20:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_EDIT__PHYSICALPERSON] (@ID INT, @SALARY DECIMAL(12,2), @DATEBIRTH DATE, @GENRE CHAR(1))
AS
	UPDATE PHYSICALPERSON SET DATEBIRTH = @DATEBIRTH, SALARY = @SALARY, GENRE = @GENRE WHERE ID = @ID;

GO
/****** Object:  StoredProcedure [dbo].[SP_GET__PHYSICALPERSON_HIGHERSAL]    Script Date: 06/07/2017 20:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GET__PHYSICALPERSON_HIGHERSAL]
AS
	SELECT * FROM VW__PHYSICALPERSON WHERE SALARY = (SELECT MAX(SALARY) FROM PHYSICALPERSON)

GO
/****** Object:  StoredProcedure [dbo].[SP_GET__PHYSICALPERSON_LOWSAL]    Script Date: 06/07/2017 20:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GET__PHYSICALPERSON_LOWSAL]
AS
	SELECT * FROM VW__PHYSICALPERSON WHERE SALARY = (SELECT MIN(SALARY) FROM PHYSICALPERSON)

GO
/****** Object:  StoredProcedure [dbo].[SP_GET__PHYSICALPERSON_SAL_ABOVEAVG]    Script Date: 06/07/2017 20:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

----------

CREATE PROCEDURE [dbo].[SP_GET__PHYSICALPERSON_SAL_ABOVEAVG]
AS
	SELECT * FROM VW__PHYSICALPERSON WHERE SALARY > (SELECT AVG(SALARY) FROM PHYSICALPERSON)

GO
/****** Object:  StoredProcedure [dbo].[SP_GET__PHYSICALPERSON_SAL_EQUALAVG]    Script Date: 06/07/2017 20:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GET__PHYSICALPERSON_SAL_EQUALAVG]
AS
	SELECT * FROM VW__PHYSICALPERSON WHERE SALARY = (SELECT AVG(SALARY) FROM PHYSICALPERSON)

GO
/****** Object:  StoredProcedure [dbo].[SP_GET__PHYSICALPERSON_SAL_UNDERAVG]    Script Date: 06/07/2017 20:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GET__PHYSICALPERSON_SAL_UNDERAVG]
AS
	SELECT * FROM VW__PHYSICALPERSON WHERE SALARY < (SELECT AVG(SALARY) FROM PHYSICALPERSON)

GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT__PERSON]    Script Date: 06/07/2017 20:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-----------------------------------------------------------------------------------------------------------------
-- 4 - STORED PROCEDURES ----------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[SP_INSERT__PERSON] (@ID INT, @NAME VARCHAR(100), @EMAIL VARCHAR(100))
AS
	INSERT INTO PERSON VALUES(@ID, @NAME, @EMAIL);

GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT__PHYSICALPERSON]    Script Date: 06/07/2017 20:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

----------

CREATE PROCEDURE [dbo].[SP_INSERT__PHYSICALPERSON] (@ID INT, @SALARY DECIMAL(12,2), @DATEBIRTH DATE, @GENRE CHAR(1))
AS
	INSERT INTO PHYSICALPERSON VALUES(@ID, @ID, @SALARY, @DATEBIRTH, @GENRE);

GO
USE [master]
GO
